$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import 'swiper/swiper-bundle.css';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@/assets/libs/animate/animate.min.css';
@import 'react-toastify/dist/ReactToastify.css';

table,
tr,
th,
td {
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 8px;
  vertical-align: top;
  font-size: 0.9rem;
}

thead td {
  font-weight: 600;
}
